mixin pagination
  div.pagination1
    span.pagination1_text 1
  div.pagination2
    span.pagination2_text 2 
  div.pagination3
    span.pagination3_text 3    
  div.pagination_point
    span.pagination_point_text ...  
  div.pagination15
    span.pagination15_text 15
  div.pagination_arr
    span.material-icons.pagination_icons arrow_forward      