include ../../components/buttons/button1.pug
include ../../components/buttons/button2.pug
include ../../components/buttons/button3.pug
include ../../components/buttons/button4.pug
include ../../components/buttons/button5.pug
include ../../components/buttons/button6.pug
include ../../components/buttons/button7.pug

mixin buttons
  div.battons
    div
      +button1
      +button2
    div.button34
      +button3
      +button4
    div.button56
      +button5
      +button6  
    div.button77
      +button7
