
@font-face {
  font-family: Quicksand-Bold;
  src: url(../fonts/Quicksand-Bold.svg); 
  src: local(Quicksand-Bold), url(../fonts/Quicksand-Bold.woff); 
  src: local(Quicksand-Bold), url(../fonts/Quicksand-Bold.ttf); 
  }

@font-face {
  font-family: Quicksand-Light;
  src: url(../fonts/Quicksand-Light.svg); 
  src: local(Quicksand-Light), url(../fonts/Quicksand-Light.woff); 
  src: local(Quicksand-Light), url(../fonts/Quicksand-Light.ttf); 
  }    

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.svg); 
  src: local(Montserrat-Bold), url(../fonts/Montserrat-Bold.woff); 
  src: local(Montserrat-Bold), url(../fonts/Montserrat-Bold.ttf); 
  }
  
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.svg); 
  src: local(Montserrat-Medium), url(../fonts/Montserrat-Medium.woff); 
  src: local(Montserrat-Medium), url(../fonts/Montserrat-Medium.ttf); 
  }         
  
  
  