@import "../../components/emblem/emblem.scss";


*{
  padding: 0;
  margin: 0;
  
}
body{
  background-color: $fon;
  display: flex;
  color: rgba($dark, 0.75);
  width: 1440px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
}
.square{
  margin-bottom: 12px;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 6px;
}

.nameColor{
  display: inline-block;
  line-height: 29px;
  font-size: 19px;
  padding-top: 7px;
  margin-left: 41px;
  vertical-align: top;
}
.colr1{
  background-color: $dark;
}
.colr2{
  background-color: rgba($dark, 0.75);
}
.colr3{
  background-color: rgba($dark, 0.50);
}
.colr4{
  background-color: rgba($dark, 0.25);
}
.colr5{
  background-color: rgba($dark, 0.05);
  
}

.colr6{
  background-color: $purple;
}
.colr7{
  background-color: $green;
}
.colorSquare:first-child{
  margin-top: 145px;
}
.colorSquare{
  margin-left: 150px;
}

h1{
  font-size: 24px;
  font-family: Quicksand-Bold;
  color: $dark;
}
h2{
  font-size: 19px;
  font-family: Quicksand-Bold;
}
h3{
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat-Bold;
  
  text-transform: uppercase;
}
p{
  font-family: Quicksand-Light;
}
.shrife{
  margin-top: 145px;
  
  display: inline-block;
}
.col_name{
  display: inline-block;
  width: 855px;
}
.el{
  margin: 0 0 0 auto;
  display: inline-block;
  vertical-align: top;
  font-family: Montserrat-Medium;
  text-align: right;
  color: rgba($dark, 0.25);
  
}
.el1{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 49px;
}
.el2{
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 49px;
  margin-left: 2px;
}
.el3{
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 49px;
  font-family: Montserrat-Bold;
  margin-left: 11px;
}
.el4{
  font-size: 14px;
  line-height: 23px;
  font-family: Montserrat-Medium;
  color: rgba($dark, 0.75);
  margin-left: -9px;
}
.el3 h3{
  text-transform: uppercase;
}
.el4 p{
  font-family: Montserrat-Medium;
  letter-spacing: -0.1px;
  width: 305px;
}
.tx{
  width: 355px;
  display: inline-block;
  }
  .txt{
    display: inline-block;
    margin-left: 30px;
    
  }
  