mixin RadioButtons
  div.radioButtons
    input.radioButtons_input1#radioButtons1(type="radio" name="gender" checked) 
    label(for="radioButtons1")
      span.radioButtons_out
        .radioButtons_centre 
      span.radioButtons_text Мужчина
    input.radioButtons_input2#radioButtons2(type="radio" name="gender") 
    label(for="radioButtons2")
      span.radioButtons_out
        .radioButtons_centre 
      span.radioButtons_text Женщина