mixin CheckboxButtons
  div.checkboxButtons
    input#checkbox1(type="checkbox")
    label(for="checkbox1") 
      span.checkb1
        .checkb2
      span.checkb_text Можно курить
    br
    input#checkbox2(type="checkbox" checked)
    label(for="checkbox2") 
      span.checkb1
        .checkb2
      span.checkb_text Можно с питомцами
    br
    input#checkbox3(type="checkbox" checked)
    label(for="checkbox3") 
      span.checkb1
        .checkb2
      span.checkb_text Можно пригласить гостей <br>(до 10 человек)
     
      
    
