.datePicker{
  width: 320px;
  height: 44px;
  border: 1px solid rgba($dark, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $white;
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 24px;
  color: rgba($dark, 0.25);
  padding-left: 14px;
  padding-top: 8px;
  line-height: 24px;
  word-spacing: -1px;
  
}
.inp2{
  margin-top: 42.56px;
}