mixin LikeButton
  div.likeButton
    input#likeButton1(type="checkbox")
    label(for="likeButton1") 
      div.likeButton_out
        div.likeButton_centre.material-icons favorite_border e87e
        div.likeButton_namb 2
      