mixin LikeButton_check
  div.likeButton
    input#likeButton2(type="checkbox" checked)
    label(for="likeButton2") 
      div.likeButton_out
        div.likeButton_centre.material-icons favorite e87d
        div.likeButton_namb 12