include ../../components/emblem/emblem.pug
include ../../components/TextField1/TextField1.pug
include ../../components/TextField2/TextField2.pug
include ../../components/dropdown/dropdown.pug
include ../../components/DatePicker/DatePicker.pug
include ../../components/DateDropdown/DateDropdown.pug
include ../../components/FilterDateDropdown/FilterDateDropdown.pug
include ../../components/SubscriptionTextField/SubscriptionTextField.pug
include ../../components/CheckboxButtons/CheckboxButtons.pug
include ../../components/RadioButtons/RadioButtons.pug
include ../../components/Toggle/Toggle.pug
include ../../components/Toggle/Toggle_check.pug
include ../../components/LikeButton/LikeButton.pug
include ../../components/LikeButton/LikeButton_check.pug
include ../../components/RateButton/rateButton.pug


<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" type="text/css" href="app.css")
    script(src="app.js")
  body
    
    div.embl
      +emblem

    div.box1
      +TextField1
      +TextField2
      +dropdown
      +DatePicker
      +dateDropdown('ДД.ММ.ГГГГ')
      +dateDropdown('19.08.2019')
      +FilterDateDropdown('19 авг - 23 авг', 'keyboard_arrow_down e313')
      +SubscriptionTextField('Email', 'arrow_forward')
      div.caption1.capt Text Field
      div.caption2.capt Default
      div.caption3.capt Text Field
      div.caption4.capt Hover / Focus
      div.caption5.capt Dropdown
      div.caption6.capt Default
      div.caption7.capt masked text field
      div.caption8.capt Default
      div.caption9.capt date Dropdown
      div.caption10.capt date Dropdown
      div.caption11.capt filter date dropdown
      div.caption12.capt subscription text field
    div.box2
      div.caption13.capt Checkbox Buttons
      +CheckboxButtons
      +RadioButtons
      div.caption14.capt Radio Buttons
      +Toggle_check
      +Toggle
      div.caption15.capt Toggle
      +LikeButton
      +LikeButton_check
      div.caption16.capt like button  
      div.rateButton_posit
        +rateButton('star e838', 'star e838', 'star e838', 'star e838','star_border e83a')
        +rateButton('star e838', 'star e838', 'star e838', 'star e838','star e838')
      div.caption17.capt rate button