@import "../../colors/colors.scss";
@import "../../components/TextField1/TextField1.scss";
@import "../../components/TextField2/TextField2.scss";
@import "../../components/dropdown/dropdown.scss";
@import "../../components/DatePicker/DatePicker.scss";
@import "../../components/DateDropdown/DateDropdown.scss";
@import "../../components/FilterDateDropdown/FilterDateDropdown.scss";
@import "../../components/SubscriptionTextField/SubscriptionTextField.scss";
@import "../../components/CheckboxButtons/CheckboxButtons.scss";
@import "../../components/RadioButtons/RadioButtons.scss";
@import "../../components/Toggle/Toggle.scss";
@import "../../components/LikeButton/LikeButton.scss";
@import "../../components/RateButton/rateButton.scss";
@import "../../components/RangeSlider/RangeSlider.scss";
@import "../../components/buttons/buttons.scss";
@import "../../components/pagination/pagination.scss";

.box1{
  margin-left: 141px;
  margin-top: 163px;
  width: 340px;
  position: relative;
}
.box2{
  margin-left: 100px;
  margin-top: 163px;
  width: 340px;
  position: relative;
  
}
.box3{
  margin-left: 55px;
  margin-top: 163px;
  width: 340px;
  position: relative;
  background-color: palegreen;
}
.capt{
  font-family: Montserrat-Medium;
  font-size: 12px;
  line-height: 15px;
  word-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
}
.caption1,
.caption3,
.caption5,
.caption7,
.caption9,
.caption10,
.caption11,
.caption12,
.caption13,
.caption14,
.caption15,
.caption16,
.caption17,
.caption18,
.caption20{
  color: rgba($dark, 1);
  font-weight: bold;
}
.caption2,
.caption4,
.caption6,
.caption8,
.caption19{
  color: rgba($dark, 0.5);
}
.caption1{
  top: -20px;
}
.caption2{
  top: -23px;
  right: 20px;
}
.caption3{
  top: 64.44px;
}
.caption4{
  top: 64.44px;
  right: 20px;
  letter-spacing: -0.4px;
}
.caption5{
  top: 148.44px;
}
.caption6{
  top: 148.44px;
  right: 20px;
}
.caption7{
  top: 235px;
}
.caption8{
  top: 232px;
  right: 20px;
}
.caption9{
  top: 339px;
}
.caption10{
  top: 339px;
  right: 52px;
}
.caption11{
  top: 444px;
}
.caption12{
  top: 549px;
  letter-spacing: 0.1px;
}
.caption13{
  top: -20px;
  left: 7px;
}
.caption14{
  top: 150px;
  left: 7px;
}
.caption15{
  top: 242px;
  left: 5.5px;
}
.caption16{
  top: 371px;
  left: 6.5px;
}
.rateButton_posit{
  margin-left: 6px;
}
.caption17{
  top: 462px;
  left: 6.5px;
}
.caption18{
  top: -19.5px;
  left: 3px;
}
.caption19{
  top: -19.5px;
  left: 167px;
  letter-spacing: -0.5px;
}
.caption20{
  top: 377px;
  left: 5px;
}
.caption21{
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 24px;
  color: rgba($dark, 0.75);
  position: absolute;
  top: 456px;
  left: 9px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
}
.rub{
  font-family: arial;
  vertical-align: middle;
  border-bottom: 1px solid;
  line-height: 3px;
  display: inline-block;
  width: 0.4em;
}
