@import "../../colors/colors.scss";
@import "../../components/TextField1/TextField1.scss";
@import "../../components/TextField2/TextField2.scss";
@import "../../components/dropdown/dropdown.scss";
@import "../../components/DatePicker/DatePicker.scss";

.box1{
  margin-left: 141px;
  margin-top: 163px;
  width: 340px;
}